@import 'src/assets/styles/vars';

:host{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

kw-song{
  flex: 1;
}

.toolbar,
kw-chords{
  width: 100%;
}

.chords-row{
  height: auto;
}

.fab-button{
  padding: 2*$grid-gutter;
}