<kw-song
  [(song)] = song
  [isEditing] = "isEditing || isNew">
</kw-song>

<div
  class="fab-button"
  fxLayout = row
  fxLayoutAlign = "end center">
  <button
    md-fab
    color = warn
    *ngIf = "!isLogged"
    (click) = showNotLogged()>
    <md-icon>warning</md-icon>
  </button>

  <button
    md-fab
    color = warn
    *ngIf = "!isOwner"
    (click) = showNotLogged()>
    <md-icon>warning</md-icon>
  </button>

  <button
    md-fab
    *ngIf = "canSave"
    (click) = save()>
    <md-icon>save</md-icon>
  </button>
  
  <button
    md-fab
    *ngIf = "canEdit"
    (click) = edit()>
    <md-icon>mode_edit</md-icon>
  </button>
</div>


<md-toolbar
  *ngIf = "isEditing || isNew">
  <div
    fxLayout = row
    fxLayoutAlign = "space-between center"
    class = toolbar>
    <button
      md-icon-button
      (click) = toggleCanRepeatChords()
      [color] = "canRepeatChords ? 'accent' : ''">
      <md-icon>
        repeat
      </md-icon>
    </button>
    
    <button
      md-icon-button
      (click) = clearSelection()>
      <md-icon>
        delete
      </md-icon>
    </button>

    <button
      md-icon-button
      (click) = "isChordsCollapsed = !isChordsCollapsed">
      <md-icon
        *ngIf = isChordsCollapsed>
        expand_less
      </md-icon>

      <md-icon
        *ngIf = !isChordsCollapsed>
        expand_more
      </md-icon>
    </button>
  </div>

  <md-toolbar-row
    class = chords-row
    *ngIf = !isChordsCollapsed>
    <kw-chords
      (chordSelect) = addChord($event)>
    </kw-chords>
  </md-toolbar-row>
</md-toolbar>