<md-card
  fxLayout = column>
  <md-input-container>
    <input
      md-input
      placeholder = "Title"
      [(ngModel)] = song.title
      [disabled] = !isEditing>
  </md-input-container>

  <md-input-container>
    <input
      md-input
      placeholder = "Author"
      [(ngModel)] = song.author
      [disabled] = !isEditing>
  </md-input-container>

  <kw-user-tag
    [user] = "creator$ | async">
  </kw-user-tag>

  
  <div
    fxLayout = row
    fxLayoutWrap = wrap
    fxLayoutAlign = "center center"
    class = chords>
    <div
      *ngFor="let chord of song.chords"
      class = chord
      fxLayout = column
      fxLayoutAlign = "center center">
      <kw-chord
        [chord] = chord
        [name] = chord?.$key>
      </kw-chord>
  
      <button
        md-icon-button
        (click) = removeChord(chord)>
        <md-icon>
          delete
        </md-icon>
      </button>
    </div>
  </div>
</md-card>
