<kw-song
  [(chords)] = selectedChords>
</kw-song>

<form
  [formGroup] = libraryForm
  class = panel--collapsible>
  <div
    fxLayout = row
    fxLayoutAlign = "space-between center"
    class = toolbar>
    <div
      (click) = "isLibraryCollapsed = !isLibraryCollapsed">
      <md-icon
        *ngIf = isLibraryCollapsed>
        expand_less
      </md-icon>

      <md-icon
        *ngIf = !isLibraryCollapsed>
        expand_more
      </md-icon>
    </div>
    
    <md-slide-toggle
      formControlName = canRepeatChords>
      Allow repeated
    </md-slide-toggle>
    
    <md-icon
      (click) = clearSelection()>
      delete
    </md-icon>
  </div>
  
  <kw-chords
    *ngIf = !isLibraryCollapsed
    (chordSelect) = addChord($event)>
  </kw-chords>
</form>