@import 'src/assets/styles/vars';

:host{
  display: flex;
  flex-direction: column;
  width: 100%;
}

kw-song{
  flex: 1;
}

.toolbar{
  display: flex;
  align-items: center;
  padding: 0 $grid-gutter;
}