<kw-song
  [(chords)] = selectedChords>
</kw-song>

<md-toolbar>
  <div
    fxLayout = row
    fxLayoutAlign = "space-between center"
    class = toolbar>
    <button
      md-icon-button
      (click) = toggleCanRepeatChords()
      [color] = "canRepeatChords ? 'accent' : ''">
      <md-icon>
        repeat
      </md-icon>
    </button>
    
    <button
      md-icon-button
      (click) = clearSelection()>
      <md-icon>
        delete
      </md-icon>
    </button>

    <button
      md-icon-button
      (click) = "isChordsCollapsed = !isChordsCollapsed">
      <md-icon
        *ngIf = isChordsCollapsed>
        expand_less
      </md-icon>

      <md-icon
        *ngIf = !isChordsCollapsed>
        expand_more
      </md-icon>
    </button>
  </div>

  <md-toolbar-row
    class = chords-row
    *ngIf = !isChordsCollapsed>
    <kw-chords
      (chordSelect) = addChord($event)>
    </kw-chords>
  </md-toolbar-row>
</md-toolbar>