<div
  fxLayout = row
  class = chord-groups>
  <span
    fxFlex
    class = "chord-group chord-group--{{chordGroup.key}}"
    *ngFor="let chordGroup of chords | async |keys"
    (click) = selectGroup(chordGroup.value)>
    {{chordGroup.key}}
  </span>

  <!-- <span
    fxFlex
    class = "chord-group chord-group--none"
    (click) = clearSelectedGroup()>
    ×
  </span> -->
</div>

<div
  fxLayout = row
  class = chords>
  <span
    class = chord
    *ngFor="let chord of currentChordGroup"
    fxFlex
    (click) = selectChord(chord)>
    <kw-chord
      *ngIf = chord
      [chord] = chord
      [name] = chord?.$key>
    </kw-chord>
  </span>
</div>