:host{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.chords--group{
  display: flex;
  justify-content: center;

  .button{
    background: var(--chord-color, #bbb);
    border-radius: 50%;
  }
}

.chords{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.chord--A{
  --chord-color: red;
}
.chord--A♭{
  --chord-color: rgba(red,.5);
}
.chord--B{
  --chord-color: orange;
}
.chord--B♭{
  --chord-color: rgba(orange,.5);
}
.chord--C{
  --chord-color: yellow;
}
.chord--D{
  --chord-color: green;
}
.chord--D♭{
  --chord-color: rgba(green,.5);
}
.chord--E{
  --chord-color: cyan;
}
.chord--E♭{
  --chord-color: rgba(cyan,.5);
}
.chord--F{
  --chord-color: blue;
}
.chord--G{
  --chord-color: purple;
}
.chord--G♭{
  --chord-color: rgba(purple,.5);
}

.chords--selected{
  flex: 1;
}