@import 'src/assets/styles/vars';

.chord-groups{
  background: $primary-color--1;
}

.chord-group{
  --chord-color: $accent-color;

  text-align: center;
  color: var(--chord-color);
  line-height: $tap-size;
  font-weight: bold;
}

.chords{
  background: $primary-color--2;
  overflow: scroll;
}
.chord{
  margin: $grid-gutter 0;
}