@import 'src/assets/styles/vars';

svg {
  width: 100px;
}

.strings,
.frets,
.nut{
  stroke: $chord-structure;
}

.nut{
  stroke-width: 5;
  stroke-linecap: round;
}

.first-fret{
  font-size: .75em;
}


.finger{
  circle{
    fill: var(--finger-color, $finger--default);
  }

  text{
    fill: $contrast-color;
    font-weight: bold;
    font-size: .75em;
  }
}

.finger--1{
  --finger-color: $finger--1;
}
.finger--2{
  --finger-color: $finger--2;
}
.finger--3{
  --finger-color: $finger--3;
}
.finger--4{
  --finger-color: $finger--4;
}

.name{
  fill: $primary-color;
  font-weight: bold;
}

.transversal{
  fill: white;
  stroke: black;
}