<md-toolbar>
  <div
    class = profile
    fxLayout = row
    fxLayoutAlign = "start center"
    *ngIf = "(af.auth | async)?.uid">
    <img
      [src] = "(af.auth | async)?.auth.photoURL" />
    <span>{{ (af.auth | async)?.auth.displayName }}</span>
  </div>

  <div
    *ngIf = "!(af.auth | async)?.uid">
    <button
      md-button
      *ngIf = "!(af.auth | async)?.uid"
      (click) = "login()">
      Login
    </button>
  </div>
  
  <md-toolbar-row
    *ngIf = "(af.auth | async)?.uid"
    fxLayout = row
    fxLayoutAlign = "end center">
    <button
      md-button
      (click) = "logout()">
      Logout
    </button>
  </md-toolbar-row>
</md-toolbar>