<md-toolbar>
  <kw-user-tag
    *ngIf = "(af.auth | async)?.uid"
    [user] = "(af.auth | async).auth">
  </kw-user-tag>

  <div
    *ngIf = "!(af.auth | async)?.uid">
    <button
      md-button
      *ngIf = "!(af.auth | async)?.uid"
      (click) = "login()">
      Login
    </button>
  </div>
  
  <md-toolbar-row
    *ngIf = "(af.auth | async)?.uid"
    fxLayout = row
    fxLayoutAlign = "end center">
    <button
      md-button
      (click) = "logout()">
      Logout
    </button>
  </md-toolbar-row>
</md-toolbar>