@import 'vars';

@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';


html,
body{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  display: flex;
  background: $primary-color;
  color: $contrast-color;
}


// form
button,
.button{
  display: inline-block;
  background-color: transparent;
  border: 0;
  min-width: 40px;
  min-height: 40px;
  line-height: 40px;
  margin: 8px;
  text-align: center;
}