@import 'vars';

@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';


html,
body{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}