/* You can add global styles to this file, and also import other style files */

html,
body{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  display: flex;
}


// form
button,
.button{
  display: inline-block;
  background-color: transparent;
  border: 0;
  min-width: 40px;
  min-height: 40px;
  line-height: 40px;
  margin: 8px;
  text-align: center;
}