$chord--color--A: red;
$chord--color--A♭: rgba(red,.5);
$chord--color--B: orange;
$chord--color--B♭: rgba(orange,.5);
$chord--color--C: yellow;
$chord--color--D: green;
$chord--color--D♭: rgba(green,.5);
$chord--color--E: cyan;
$chord--color--E♭: rgba(cyan,.5);
$chord--color--F: blue;
$chord--color--G: purple;
$chord--color--G♭: rgba(purple,.5);